<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ggul_bot_v7">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ggul_bot_v7 urdf file -->
    <xacro:include filename="$(find ggul_bot_v7)/urdf/ggul_bot_v7.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ggul_bot_v7.ros2_control.xacro" />


    <xacro:ggul_bot_v7_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
